/*
Colors used:
Primary Color (Purple): #CCC9FD;
Secondary Color (Mint): #7CF5D2;
*/

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: normal;
}

header {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    border-bottom: 3px solid #4a4a4a;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(50, 50, 50, 0.28);
-moz-box-shadow:    0px 5px 30px 0px rgba(50, 50, 50, 0.28);
box-shadow:         0px 5px 30px 0px rgba(50, 50, 50, 0.28);
width: 100%;
position: fixed
  }

main {
    padding-top: 133px;
  }

#grad {
    background-image: linear-gradient(#c4c4c4, #d58ef9);
  }

h1, h2, h3, h4 {
    line-height: normal;
}

h1 {
    font-size: 3em;
    font-weight: 900;
}

h2 {
    font-size: 1.75em;
    font-weight: 600;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.75em;
    font-weight: 300;
}

img {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover,
a:focus {
      color: #CCC9FD;
      text-decoration: underline;
      
  }
  a:visited {
      color: #CCC9FD;
      font-style: italic;
      text-decoration: none;
  }

  .button {
      display: inline-block;
      background-color: transparent;
      color: #CCC9FD;
      font-weight: 700;
      padding: 10px;
      border-radius: 3px;
      border: 2px solid #CCC9FD;
      transition: 0.2s opacity;
  }

  .button:hover {
      opacity: 0.8;
      color: #CCC9FD;
      text-decoration: none;
  }

  .button.contact {
      background-color: transparent;
      color: black;
      text-transform: uppercase;
      border: 2px solid black;
  }

  .button.contact:hover,
  .button.contact:focus {
      color:#CCC9FD;
      border: 2px solid #CCC9FD;
  }

#logo {
    max-width: 250px;
    height: auto;
    fill: black;
}

.icon:hover {
    fill:#CCC9FD;
}

/* Layout styling */

.container {
    padding: 0 15px;
  }
  
.row {
    margin: 10px 0;
    display:inline;
    width: 100%;
}

.case.study {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
}

#work .row { 
    padding-bottom: 25px; 
    border-bottom: 1px 
    solid #4a4a4a; 
}

#info {
    border-radius: 10px;
    border: 2px solid black;
}

#hero {
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }

#hero h1 {
    text-align: center;
  }

body#hero h1, h2, h3, h4, p, span, a {
    color: black;
}

body#info h1, h2, h3, h4, p, span, a {
    color: black;
}

  /* nav bar styling */

nav > ul {
    list-style-type: none;
    padding: 0;
  }

nav > ul > li {
    display: inline;
    width: 100%;
  }

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
  }

nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase; underline;
    font-weight: 700;
    color: #CCC9FD;
  }

  /* footer styling */

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.icon {
      margin: 10px;
}

ul#icons {
    list-style-type: none;
    padding: 20px;
}

ul#icons > li {
    display: inline;
    width: 100%;
}

