/*
Colors used:
Primary Color (Purple): #CCC9FD;
Secondary Color (Mint): #7CF5D2;
*/

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: normal;
}

#header {
    background-color: #ff44c4;
    padding: 10px;
    margin: 10px;
    border-bottom: 3px solid #4a4a4a;
  }

#grad {
    background-image: linear-gradient(#c4c4c4, #d58ef9);
  }

h1, h2, h3, h4 {
    line-height: normal;
}

h1 {
    font-size: 1.75em;
    font-weight: 900;
}

h2 {
    font-size: 1.75em;
    font-weight: 600;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.75em;
    font-weight: 300;
}

img {
    width: 100%;
  }
a {
    color: black;
    text-decoration: none;
}

a:hover,
a:focus {
      color: #CCC9FD;
      text-decoration: underline;
      
  }
  a:visited {
      color: #CCC9FD;
      font-style: italic;
      text-decoration: none;
  }

  .button {
      display: inline-block;
      background-color: transparent;
      color: #CCC9FD;
      font-weight: 700;
      padding: 10px;
      border-radius: 3px;
      border: 2px solid #CCC9FD;
      transition: 0.2s opacity;
  }

  .button:hover {
      opacity: 0.8;
      color: #CCC9FD;
      text-decoration: none;
  }

  .button.contact {
      background-color: transparent;
      color: black;
      text-transform: uppercase;
      border: 2px solid black;
  }

  .button.contact:hover,
  .button.contact:focus {
      color:#CCC9FD;
      border: 2px solid #CCC9FD;
  }

#logo {
    width: 250px;
    height: auto;
    fill: black;
}

.icon:hover {
    fill:#CCC9FD;
}