/*
Colors used:
Primary Color (Purple): #645BF9;
Secondary Color (Mint): #7CF5D2;
*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #272727;
}

header {
  background-color: white;
  border-bottom: 3px solid #4a4a4a;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(50, 50, 50, 0.28);
  -moz-box-shadow: 0px 5px 30px 0px rgba(50, 50, 50, 0.28);
  box-shadow: 0px 5px 30px 0px rgba(50, 50, 50, 0.28);
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 10px 0 4px;
}

main {
  padding-top: 100px;
}

h2,
h3,
h4 {
  line-height: 90%;
}

h1 {
  line-height: 100%;
  font-size: 1.75em;
  font-weight: 900;
}

h2 {
  line-height: 100%;
  font-size: 1em;
  font-weight: 900;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

h4 {
  font-size: 0.75em;
  font-weight: 300;
}

img {
  width: 100%;
}

a {
  color: #272727;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #645bf9;
  text-decoration: none;
}

a:visited {
  color: #645bf9;
  font-style: italic;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #645bf9;
  font-weight: 700;
  padding: 10px;
  border-radius: 11px;
  border: 3px solid #645bf9;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  color: #645bf9;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #272727;
  text-transform: uppercase;
  border: 3px solid #272727;
}

.button.contact:hover,
.button.contact:focus {
  color: #645bf9;
  border: 3px solid #645bf9;
}

.icon:hover {
  fill: #645bf9;
}

/* Layout styling */
.container {
  padding: 0 20px 0 20px;
  margin: auto;
}

.casestudycontainer {
  padding: 0 15px 0 15px;
  margin: auto;
}

#work {
  padding-top: 50px;
}

.row {
  margin: 5px 0;
  display: inline-block;
  width: 100%;
}

.casestudy {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
}

#work.row {
  padding-bottom: 10px;
}

.info {
  border-radius: 29px;
  border: 5px solid #272727;
}

#hero {
  padding: 10px 0;
  display: inline-block;
}

#hero h1 {
  text-align: left;
}

body#hero h1,
h2,
h4,
p,
span,
a {
  color: #272727;
}

body.info h1,
h2,
h3,
h4,
p,
span,
a {
  color: #272727;
}

/* nav bar styling */

.logo {
  float: left;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 10px;
  text-transform: lowercase;
  font-size: 0.75em;
  font-weight: 700;
  color: #272727;
}

nav > ul > li > a:visited {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #645bf9;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #272727;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* footer styling */
footer#contact h2 {
  color: white;
}

footer#contact h3 {
  color: white;
}

footer#contact p {
  color: white;
}

footer#contact a {
  color: white;
}

footer {
  color: white;
  background-color: #272727;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.icon {
  margin: 10px;
  fill: white;
}

ul#icons {
  list-style-type: none;
  padding: 20px;
}

ul#icons > li {
  display: inline;
  width: 100%;
}

/* Dimensions page styling */

#dimensions {
  background-image: linear-gradient(180deg, #c4c4c4, #d58ef9);
}

.dimtext {
  padding-bottom: 50px;
}

.dimproduct {
  margin: auto;
  width: 50%;
}

/* Nomadic page styling */

#nomadic main {
  padding-top: 0px;
}

#nomadic img {
  padding: 50px 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  main {
    padding-top: 180px;
  }

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #nomadic main {
    padding-top: 0px;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }

  .casestudycontainer {
    max-width: 800px;
  }

  #hero span {
    display: block;
  }

  #hero {
    display: block;
    max-width: 75%;
  }

  .col-md-6 {
    width: 50%;
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .info {
    margin-top: 50px;
  }

  .casestudy {
    padding-top: 5px;
    padding-bottom: 50px;
  }
}

.object:hover {
  animation: MoveUpDown 5s linear infinite;
  position: static;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  h1 {
    line-height: 100%;
    font-size: 3em;
    font-weight: 900;
  }

  h2 {
    line-height: normal;
    font-size: 2em;
    font-weight: 600;
  }

  h3 {
    line-height: normal;
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    line-height: normal;
    font-size: 1em;
    font-weight: 300;
  }

  li p {
    font-size: 1.75em;
  }

  .col-lg-7 {
    width: 60%;
    float: left;
  }

  .col-lg-5 {
    width: 40%;
  }

  .casestudy {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .info {
    margin-top: 150px;
    border: 5px solid #272727;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .col-lg-7 {
    width: 60%;
    float: left;
  }

  .col-lg-5 {
    width: 40%;
    float: right;
  }

  .info {
    margin-top: 150px;
    border: 5px solid #272727;
  }

  .casestudy {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
